*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2em;
  
}

header{
  display: flex;
  background-color:rgb(117, 186, 246);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 20px;
  justify-content: space-between;
  order:1;
}
 
nav,
a{
  display:flex;
  flex-direction: row;
  font-size:20px;
  align-items: flex-end;
  margin-left: 10px;
  text-decoration: none;
  color: white;

}
.container,
#all-players-container{
  display: flex;
  flex-direction: column;
  background-color:lightcyan;
  padding: 10px;
}
.sidebar{
  display: flex;
  flex-direction: row;
  order: 2;
  background-color: aquamarine;
  color: aquamarine;
  width:250px;
  height: auto;
}


form,
input,
#new-player-form{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 5px;
}

button{
  display:flex;
  justify-content: center;
  background-color: transparent;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-style: solid;


}

footer{
  display: flex;
  flex-direction: column;
  background-color: rgb(117, 186, 246);
  color: rgb(117, 186, 246);
  padding: 20px;
  order:3;
}

